@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    font-family: Raleway, serif;
    background-color: rgb(240, 240, 240);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #014ba0;
    height: 80px;
    color: black;
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 40px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

header h1 {
    display: inline;
    font-size: 24px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header nav ul li {
    transition: all 0.3s;
}

header nav ul li:hover {
    border-bottom: 1px solid black;
}

.separator {
    margin-top: 80px;
    width: 100%;
    height: 8px;
    background-image: linear-gradient(to right, #3977be, #71a6df, #105183);
}

.start {
    height: 900px;
    display: flex;
    justify-content: center;
    color: white;
}

.start-reviews-btn {
    background-image: linear-gradient(to right, #3977be, #71a6df, #105183);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    margin-top: 20px;
}

.start-reviews-btn:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    filter: brightness(1.1);
}

.about {
    display: flex;
    background-color: rgb(15, 15, 15);
    height: 600px;
    color: white;
}

.reviews {
    display: flex;
    background-color: white;
    height: 600px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-image: linear-gradient(to right, #3977be, #71a6df, #105183, #011d33);
    color: white;
    width: 100%;
}

.artists {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.artists-search .input-group input {
    width: 400px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
}

.artists-search .input-group button {
    background-image: linear-gradient(to right, #3977be, #71a6df, #105183);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    margin-left: 10px;
}

.artists-search .input-group button:hover {
    filter: brightness(1.2);
}

.add-artist-btn {
    background-color: #105183;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.add-artist-btn:hover {
    filter: brightness(1.2);
}

.add-artist-confirm, .edit-artist-confirm, .add-song-btn, .add-album-btn {
    padding: 8px 16px;
    background-color: #105183;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.add-artist-confirm:hover, .edit-artist-confirm:hover {
    filter: brightness(1.1);
}

.instagram-artist-btn {
    background-color: #E1306C;
    transition: all 0.3s;
}

.instagram-artist-btn:hover {
    background-color: #C13584;
    filter: brightness(1.1);
}

.instagram-artist-btn, .edit-artist-btn, .delete-artist-btn {
    border-radius: 8px;
    padding: 2px 6px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.instagram-artist-btn i, .edit-artist-btn i, .delete-artist-btn i {
    cursor: pointer;
    color: white;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .card-name {
    white-space: wrap; /* Impede que o texto quebre em várias linhas */
    max-width: 60%; /* Garante que o texto não ultrapasse a largura do contêiner */
}

.card .card-name {
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis; /* Adiciona reticências ao texto que ultrapassa o limite */
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limita o texto a 3 linhas */
    -webkit-box-orient: vertical;
}


.card .card-text {
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis; /* Adiciona reticências ao texto que ultrapassa o limite */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita o texto a 3 linhas */
    -webkit-box-orient: vertical;
}

.albums {
    height: 100vh;
}

